<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Education Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a class="active" href="{{ url_for('home') }}">E</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
        </ul>
    </nav>
    <h1>Server Error</h1>
    <center><h3>The server has an error or is overloaded.</h3></center>
</body>
</html>