<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Education Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a class="active" href="{{ url_for('home') }}">E</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
        </ul>
    </nav>
    <h1>Education Platform</h1>
    <center><h3>An effective way to teach and learn.</h3></center>

    <br>
    <hr>
    <br>

    <center>
        <p>Robert Marlin, Teacher - Education Platform makes it so easy to teach!</p>
        <p>Mary Smith, Director - I love it! Our entire district uses it!</p>
        <p>Luke Baltic, Student - I was surprised about how engaging it is! I now can learn.</p>
    </center>
</body>
</html>